/* Post Carousel */

.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.posts-grid h2 {
  font-size: 18px;
  text-align: left;
}

.create-post-button {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 20px;
}

.btn-left,
.btn-right {
  margin: 12px;
  background-color: #878787;
  border: none;
  border-radius: 20%;
  padding: 8px 16px;
  cursor: pointer;
}

.carousel-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  position: relative;
  margin: 20px;
  padding: 20px;
  cursor: pointer;
}

.carousel-image-container {
  position: relative;
}

.carousel-image {
  border-radius: 8px;
  display: block;
}

#carousel-title {
  position: absolute;
  bottom: 16px;
  left: 42%;
  transform: translateX(-42%);
  background-color: rgba(255, 255, 255, 0.763);
  padding: 10px 20px;
  border-radius: 8px;
  color: var(--text-color);
  font-size: 18px;
  text-align: center;
  font-weight: 400;
}

/* Post Carousel Media Queries */

@media (max-width: 1024px) {
  .carousel-caption {
    width: 100%;
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .carousel-image {
    padding-left: 16px;
  }
}
