#carouselContainer {
  overflow: hidden;
}

#carouselItems {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-card {
  width: 100%;
  min-width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 24px;
  margin: 0 10px;
  color: var(--secondary-color);
}
