.main-content {
  display: flex;
  align-items: center;
  gap: 2em;
  margin: var(--section-margin);
  max-width: 1280px;
  justify-self: center;
}

.main-content--background {
  background-color: var(--secondary-color);
}

.main-presentation {
  margin: var(--section-margin);
  display: flex;
  gap: 2em;
  align-items: center;
  max-width: 1280px;
  justify-self: center;
  padding-top: var(--section-margin);
  padding-bottom: var(--section-margin);
}

.main-content--text > * {
  margin-right: 0;
  text-align: left;
}

.main-content--text h2 {
  margin: 1em 0;
}

.main-content--image img {
  height: 350px;
  width: 500px;
  object-fit: cover;
}

/* Media Queries for main content */

@media (max-width: 1024px) {
  .main-about,
  .main-presentation,
  .main-culture {
    flex-direction: column;
  }
  .main-content--image img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .main-presentation,
  .main-culture,
  .main-about {
    margin: 1.5em 0;
    padding-top: 0;
  }
  .main-content--text h3 {
    display: none;
  }
  .main-content--text {
    margin: 1em;
  }
  .main-presentation {
    padding-bottom: 0;
  }
  .h1-homepage {
    margin: 0.5em;
  }
  .main-content {
    gap: 0.5em;
  }
}
