.carousel-container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-card {
  min-width: 100%;
  display: flex;
  align-items: center;
}

.carousel-image {
  width: 80%;
  height: auto;
  object-fit: cover;
  max-height: 500px;
  padding-left: 100px;
  padding-right: 20px;
}

.carousel-caption {
  width: 50%;
  padding-right: 100px;
}

.carousel-caption h1 {
  margin-top: 0;
  font-size: 1.5em;
}

.carousel-caption p {
  margin: 0;
  font-size: 1em;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 10px;
  font-family: var(--heading-font-family-primary);
  border-radius: 4px;
  font-size: 2em;
  cursor: pointer;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}

.thumbnail-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 16px;
}

.grid-item {
  overflow: hidden;
}

.grid-item--text p {
  padding: 4px 0;
}

.btn-view {
  background-color: var(--heading-color-tertiary);
  border-radius: 0;
  color: var(--secondary-color);
  font-size: 16px;
  padding: 8px 30px;
  margin: 16px 0;
}

.founder-container {
  background-color: var(--background-color);
  color: var(--secondary-color);
}

.founder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 124px;
  padding: 48px 80px;
}

.founder img {
  clip-path: circle();
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.founder-text {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.founder-text h4 {
  font-size: 36px;
  font-family: "Shantell Sans", cursive;
  font-weight: 600;
}

.founder-text p {
  font-size: 24px;
}

.recipes {
  display: flex;
  gap: 20px;
}

.recipes h3 {
  font-weight: var(--heading-font-weight);
  font-size: 28px;
  color: var(--text-color);
}

.btn-read--more {
  background-color: var(--secondary-color);
  color: var(--heading-color-secondary);
  font-size: 24px;
  font-weight: 400;
  font-family: var(--heading-font-family-primary);
  padding: 0;
  border: none;
}

/*  Carousel */
