.post-container,
.about-us-container {
  margin: var(--section-margin);
  max-width: 1280px;
  justify-self: center;
  text-align: center;
}

.about-us-container > *,
.post-container > * {
  padding-top: 1em;
  text-align: center;
}

@media (max-width: 768px) {
  .post-container > *,
  .about-us-container > * {
    text-align: left;
  }
}

.post-body {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
