.post-container {
  margin: var(--section-margin);
}

.post-container h1 {
  margin: 0;
  text-align: center;
}


.blog-post--info {
  display: flex;
  justify-content: space-between;
}

.blog-post--text {
  text-align: center;
}
