@import url("home.css");
@import url("posts.css");
@import url("editPosts.css");
@import url("login.css");
@import url("register.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color Variables */
  --primary-color: #81484d;
  --secondary-color: #ffffff;
  --background-color: #e3aca4;
  --text-color: #1f1f1f;
  --heading-color-primary: #1f1f1f;
  --heading-color-secondary: #f18f01;
  --heading-color-tertiary: #2f4f4f;
  --link-color: #81484d;

  /* Font Variables */
  --font-family: "Lato", sans-serif;
  --heading-font-family-primary: "Poppins", sans-serif;
  --heading-font-family-secondary: "Roboto", sans-serif;
  --base-font-size: 1em;
  --heading-font-weight: medium;

  /* Spacing Variables */
  --container-padding: 20px;
  --button-padding: 10px 15px;
  --section-margin: 40px;
  --element-margin-bottom: 1em 0;

  /* Border radius for buttons or cards */
  --border-raduis: 8px;

  /* Breakpoint Variables */
  --breakpoint-small: 640px;
  --breakpoint-medium: 768px;
  --breakpoint-large: 1024px;
  --breakpoint-xlarge: 1280px;
  --breakpoint-xxlarge: 1536px;
}

/* Base styles */

main {
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  color: var(--text-color);
  max-width: 1280px;
  align-items: center;
  margin: auto;
}

h1 {
  font-family: var(--heading-font-family-primary);
  font-weight: var(--heading-font-weight);
  color: var(--heading-color-primary);
  font-size: 36px;
  text-align: center;
}

h2 {
  color: var(--heading-color-primary);
  font-family: var(--heading-font-family-secondary);
  font-size: 24px;
  margin: var(--element-margin-bottom);
}

h3 {
  color: var(--text-color);
  font-family: var(--heading-font-family-primary);
  font-size: 24px;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

li,
a {
  color: var(--link-color);
  font-family: var(--heading-font-family-primary);
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  list-style-type: none;
}

a:hover {
  text-decoration: underline;
}

h5 {
  text-align: center;
  margin: var(--element-margin-bottom);
}

main img {
  width: 100%;
  height: auto;
}

.container {
  margin: var(--section-margin);
}

@media (max-width: 1024px) {
  .container {
    margin: 16px;
  }
}

button {
  padding: 16px 64px;
  border-radius: var(--border-raduis);
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--heading-font-family-secondary);
  font-weight: var(--heading-font-weight);
  font-size: 20px;
}

/* Navigation Bar */

header {
  position: relative;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  transition: 0.3s;
}

.logo a {
  display: block;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  transition: 0.5s;
  padding-left: 30px;
  gap: 20px;
}

.menu li a:hover {
  box-shadow: 0 -5px 0px #ffffff inset,
    500px 0 0 rgba(255, 255, 255, 0.03) inset;
  padding: 15px 20px 25px 20px;
}

.navigation li a {
  color: var(--secondary-color);
  font-size: 20px;
}

.logo a {
  font-family: "Shantell Sans", cursive;
  font-size: 32px;
  color: var(--secondary-color);
}

.hamburger {
  position: relative;
  width: 30px;
  height: 4px;
  background: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
}

.hamburger:before,
.hamburger:after {
  content: "";
  position: absolute;
  height: 4px;
  right: 0;
  background: #ffffff;
  border-radius: 10px;
  transition: 0.3s;
}

.hamburger:before {
  top: -10px;
  width: 20px;
}

.hamburger:after {
  top: 10px;
  width: 25px;
}

.toggle-menu {
  position: absolute;
  width: 30px;
  height: 100%;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}

.hamburger,
.toggle-menu {
  display: none;
}

.navigation input:checked ~ .hamburger {
  background: transparent;
}

.navigation input:checked ~ .hamburger:before {
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

.navigation input:checked ~ .hamburger:after {
  top: 0;
  transform: rotate(45deg);
  width: 30px;
}

.navigation input:checked ~ .menu {
  right: 0;
}

/* Media Queries for navigation bar */

@media (max-width: 1023px) {
  .hamburger,
  .toggle-menu {
    display: block;
  }
  .header {
    padding: 10px 20px;
  }

  .menu {
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: -400px;
    background: var(--primary-color);
    width: 300px;
    height: 100%;
    padding-top: 100px;
    margin: 0;
  }
  .menu li {
    width: 100%;
  }
  .navigation input:checked ~ .menu {
    box-shadow: -20px 0 40px rgba(0, 0, 0, 0.3);
  }
  .menu li a,
  .menu li a:hover {
    padding: 30px;
    font-size: 20px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
  }
}

/* Footer */

footer {
  display: block;
  font-family: var(--font-family);
}

#newsletter {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 80px;
  text-align: center;
}

#newsletter h3,
#newsletter p {
  font-size: 24px;
  color: var(--secondary-color);
}

#newsletter form input {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 16px;
  margin: 8px;
}

.btn-subscribe {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-family: var(--heading-font-family-primary);
  font-size: 16px;
  font-weight: 600;
  margin: 8px;
  cursor: pointer;
}

#footer-links {
  display: flex;
  justify-content: space-evenly;
  margin: var(--section-margin);
  max-width: 1440px;
  margin: auto;
  padding: 20px;
}

#footer-links h4,
#footer-links ul li {
  color: var(--primary-color);
  list-style: none;
  font-size: 16px;
}

#footer-links h4 {
  margin: var(--element-margin-bottom);
}

/* Footer Media Queries */
@media (max-width: 640px) {
  #footer-links {
    display: block;
    text-align: center;
  }
}
